body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

table * {
  border: solid 1px black;
}

.admin-box {
  border: solid 1px black;
  display: flex;
  justify-content: center;
}
.flag-button {
  background-color: black;
}
.review-flag {
  background-color: rgb(220, 77, 77)
}
